.form-wrapper {
  background-color: #F2F2F2;
  padding: 70px 70px;
  position: relative;
  z-index: 3;

  @include media-breakpoint-up(sm) {
    padding: 90px 70px;
  }
}

form {
  .inputs-holder {
    margin-top: 30px;

    @include media-breakpoint-up(sm) {
      margin-top: 20px;
    }

    .input-holder {
      margin-bottom: 20px;
    }
  }

  .btn-form {
    background: $primary;
    border: none;
    width: 100%;
    height: 36px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding: 5px 20px 36px;

    @include media-breakpoint-up(sm) {
      width: auto;
    }
    &:hover {
      background:#cca300;
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }

    .icon.icon-mail {
      margin-left: 35px;
    }
  }
  .btn-form.btn-arabic {
    width: 200px;
  }
  .check-box, .autocomplete {
    position: relative;
  }
  .autocomplete-items {
    position: absolute;
    background-color: white;
    z-index: 99;
    width: 89%;
    padding-left: 10px;
    box-shadow: 2px 8px 10px 0 rgba(0, 0, 0, 0.14);
    max-height: 250px;
    overflow-y: scroll;
  }
  .check-box input {
    height: 4px;
    width: initial;
    position: absolute;
    top: 5px;
    @include media-breakpoint-up(sm) {
      top: 6px;
    }
  }

  .check-box label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    position: relative;
  }

  .check-box label:before {
    content:'';
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid #A7A7A7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    z-index: 1;
  }
  .right-align .check-box label:before {
    margin-left: 10px;
    margin-right: 0;
  }

  .check-box input {
    width: 0;
    height: 0;
    border: none;
    outline: none;
    visibility: hidden;
  }

  .check-box input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    width: 6px;
    height: 12px;
    top: 5px;
    border: solid $font-color;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
    background-color: $white;
    @include media-breakpoint-up(sm) {
      top: 5px;
    }
  }
  .right-align input:checked + label:after {
    left: 15px;
  }

  .dot-container {
    max-width: 100%;
    margin-right: auto;

     .form-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: -15px;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      h4 {
        font-size: 30px;
        font-weight: bold
      }

      .form-key {
        position: relative;
        .circle {
          display: none;
        }
        label {
          font-weight: bold;
          padding-left: 15px;
        }

        @include media-breakpoint-up(sm) {
          .circle {
            display: block;
          }
        }
      }
    }

    @include media-breakpoint-up(sm) {
      .row:nth-child(1), .row:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }

  .privacy-policy {
    padding-left: 0;
    padding-right: 0;

    .privacy-policy-header {
      margin-left: 15px;
      margin-bottom: 20px;
    }

    .privacy-policy-body {
      height: 205px;
      overflow-y: scroll;
      font-size: 12px;
      font-style: italic;

      p {
        margin-bottom: 5px;
      }

      a {
        color: $lambo-yellow;
      }
    }
  }

  .privacy-confirmation {
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;

    @include media-breakpoint-up(sm) {
      padding-left: 40px;
    }
  }

  .agree-disagree {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    .radio-holder {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      input {
        width: 20px;
        margin-right: 10px;
        margin-bottom: 0;
      }

      label {
        margin-bottom: 0;
      }
    }

    .radio-holder:first-of-type {
      margin-right: 25px;
    }

    .agreement-text {
      width: 100%;
      font-size: 12px;
      font-style: italic;
      margin-top: 20px;
    }
  }

 .check-send {
    max-width: 750px;
    margin-right: auto;
    @include media-breakpoint-up(lg) {
      max-width:60%;
    }
    @include media-breakpoint-up(xl) {
      max-width:58%;
    }
  }

  .circle {
    position: absolute;
    margin: auto;
    top: 11px;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #e0b401;
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
  .send {
    width: 100%;
    margin-top: 20px;
    margin-left: -15px;
  }
  input, select {
    box-shadow: none;
    background-color: transparent;
    border: 0px solid;
    height: 22px;
    width: 160px;
    font-weight: 300;
    width: 98%;
    margin-bottom: 30px;
    color: $font-color;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
    &:focus {
      outline: none;
    }
  }
  input {
      padding-bottom: 8px;
      border-bottom: 1px solid #B1B1B1;
      border-radius: 0;
      &::placeholder {
        color: $font-color;
      }
  }
  input:-moz-placeholder, input::-moz-fieldtext  {
    color: $font-color;
    text-transform: capitalize;
  }
}

.btn-primary.btn-arabic {
  padding-left: 100px;
  padding-right: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield;
}
/* Dropdown select styling */

/*the container must be positioned relative:*/
// @include media-breakpoint-up(sm) {}

.custom-select {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #B1B1B1;
  width: 98%;
  margin-bottom: 30px;
  height: auto;
  padding-bottom: 2px;
  background: white;
}

.custom-select select {
  background: transparent;
  height: 25px;
  color: transparent;
  position: absolute;
  z-index: -10;
  option {
    z-index: -10;
    background: transparent;
    height: 0;
    color: transparent;
  }
}
/*style the arrow inside the select element:*/
.select-selected:after {
  background: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
			content: "";
			height: 24px;
			width: 24px;
			position: absolute;
			top: 0;
			right: 0;
			transition-property: background;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
}
/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: $font-color;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: -2px;

  &:hover {
    cursor: pointer;
  }
}

.select-selected {
  background-color: #f4f4f4;
}

.select-items div  {
  padding: 4px 8px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: $white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 2px 8px 10px 0 rgba(0, 0, 0, 0.14);
  max-height: 250px;
  border-top: 1px solid #b1b1b1;
  overflow-y: scroll;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* hide form and display thank you */
.success {
  display: none;
}

.thanks {
  padding-top: 20px;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  padding-top: 40px;
  margin-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    max-width: 65%
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 23px;
    @include media-breakpoint-up(sm) {
      font-size: 1.8rem;
    }
    span {
      font-weight: 200;
    }
  }
  p {
    margin-bottom: 20px;
  }
}

.required {
  border-bottom: 1px solid red;
  &::placeholder {
    color: red;
  }
  .select-selected {
    color: red;
    &:after {
      background: url("data:image/svg+xml;utf8,<svg fill='%23FF0000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"), no-repeat;
    }
  }
}

.check-required {
  label, a {
    color:red;
  }
  label:before {
  border: 1px solid red !important;
  }
}
