html, body {
  background-color: #fff;
  color: #252424;
  font-family: "Open Sans";
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #252424;
  outline: none;
  &:hover {
    text-decoration:none;
  }
  &:focus {
    outline: none;
  }
}
button:not(.close):not(.btn-lang){
  cursor: pointer;
  outline: none;
  height: 45px;
  padding: 0 25px;
  width: auto;
  background: $lambo-yellow;
  text-transform: uppercase;
  @include media-breakpoint-up(sm) {
    height: 36px;
  }
  &:hover {
    background:#cca300;
  }
  &:focus {
    outline: none;
  }
}

button.close, .btn-lang {
  cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
  }
}

/* bootstrap override */
.container {
  padding: 15px;
  @include media-breakpoint-up(sm) {
    padding: 25px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 1160px;
  }
    @include media-breakpoint-up(xl) {
      max-width: 1540px;
  }
}
/* bootstrap override */

/* custom object-fit for ie */
.ie {
  display: none;
}
.img-container {
  height: 500px;
  width: 100%;
}
.custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
  .featured-image {
    opacity: 0;
  }
}
/* custom object-fit for ie  */

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.full {
  width: 100%;
  margin-top: 10px;
  div {
    width: 82%;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }
}

.fit {
  height: 215px;
  margin: 0 30px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.top-fit {
  margin-top: 35px;
  margin-bottom: 20px;
}

.fit:last-of-type {
  margin-bottom: 20px;
}

.light {
  font-weight: 300;
}

.images {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.hero-fit {
  height: 575px;
  position: relative;
  transition: height 200ms ease-in-out;
  @include media-breakpoint-up(sm) {
    height: 750px;
  }
  .desktop {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    background-image: url("/img/header-hp_9434-rgb.jpg");
  }
  .hero-copy {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    z-index: 2;
    bottom: 2%;
    @include media-breakpoint-up(md) {
      display: block;
      top: 20%;
    }
    h1 {
      font-size: 50px;
      color: $white;
      font-weight: 100;
    }
    .hash-container {
      display: inline-block;
      background-color: $white;
      padding: 9px 12px 3px;
      margin-left: 170px;
      span.hashtag {
        color: $black;
        font-size: 18px;
        font-style: italic;
        font-weight: 300;
        line-height: 25px;
        font-family: "Open Sans";
        @include media-breakpoint-up(sm) {
          font-size: 28px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 34px;
        }
      }
    }
  }
}
.fuel-emission-disclaimer {
  display: none;
  position: absolute;
  margin: auto calc(50% - 50vw);
  top: -39px;
  left: 0;
  width: 100vw;
  background-color: rgba($black, 0.8);
  padding: 10px 0;

  @include media-breakpoint-up(sm) {
    display: block;
  }

  p {
    width: 100%;
    color: $white;
    text-align: center;
    margin: 0;
    font-size: 12px;
  }
}

.boxcontent {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  padding-top: 60px;

  @include media-breakpoint-up(lg) {
    text-align: left;
    width: 68%;
  }

  h1 {
    @include media-breakpoint-up(lg) {
      max-width: 90%
    }

    @include media-breakpoint-up(xl) {
      max-width: 75%
    }
  }

  p {
    @include media-breakpoint-up(lg) {
      max-width: 82%
    }
    @include media-breakpoint-up(xl) {
      max-width: 75%
    }
  }

  p:first-of-type {
    @include media-breakpoint-up(lg) {
      max-width: 94%
    }
  }

  h1 {
    font-size: 23px;
    margin-bottom: 20px;
    text-transform: uppercase;
    @include media-breakpoint-up(sm) {
      font-size: 2.24rem;
    }
  }
  p {
    font-size: 16px;
  }
  span {
    font-weight: 300;
  }
}
.skew {
  left: 50%;
  height: 72rem;
  width: 66rem;
  top: -31rem;
}

.mobile-image-holder {
  margin: 20px 30px;

  img {
    width: 100%;
    height: auto;
    max-height: 700px;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.skew-images {
  position: relative;
  height: 36rem;
  z-index: 0;
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  .skew-left {
    width: 86rem;
    height: 30rem;
    top: 7rem;
    right: calc(50% - 2rem);
  }

  .skew-right {
    width: 75rem;
    height: 30rem;
    top: 5rem;
    left: calc(50% - 22rem);
  }
  .skew-bottom {
    width: 50rem;
    height: 30rem;
    top: 38rem;
    right: calc(50% + 24.5rem);
  }
}

.row-content.fullwidth {
  padding: 0;
}

.block0 {
  overflow: visible;
  z-index: 3;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  .copy-left {
    margin-bottom: 40px;
    @include media-breakpoint-up(sm) {
      min-height: 570px;
      margin-bottom: 0;
    }
  }
}
#block0_skew {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    z-index: -5;
  }
}

.stripe {
    position: relative;
}

svg {
  position: absolute;
}

section {
  position: relative;
  overflow: hidden;
}

.emotion {
  max-width: 800px;
  margin-left: auto;
  padding-top: 45px;
  @include media-breakpoint-up(md) {
    height: 489px;
    padding-top: 125px;
  }
}

.required {
  color: red;
  border-bottom: 1px solid red;
}

.right-align {
  text-align: right;
  direction: rtl;
  .select-selected::after {
    display:none;
  }
}
.boxcontent.right-align p, .boxcontent.right-align h1 {
  margin-right: auto;
}
.display-none {
  display: none;
}

.dir-right {
  direction: rtl;
}
