html, body {
    background-color: #fff;
    color: #252424;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
a {
  color: #252424;
  outline: none;
  &:hover {
    text-decoration:none;
  }
  &:focus {
    outline: none;
  }
}
button {
  cursor: pointer;
  outline: none;
  background: $lambo-yellow;
  &:hover {
    background:#cca300;
  }
  &:focus {
    outline: none;
  }
}


.full {
  width: 100%;
  margin-top: 10px;
  div {
    width: 82%;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }
}
.light {
  font-weight: 300;
}
.fit {
  height: 190px;
  img {
    height: 100%;
    object-fit: cover;
  }
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
.images {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero-img {
  margin-top: 60px;
  @include media-breakpoint-up(sm) {
    margin-top: 100px;
  }
}
.container {
  padding: 25px 15px;
}


// image[Attributes Style] {
//   clip-path: url(#block0_skew-mask);
//   x: 0;
//   y: 0;
//   height: 100%;
//   width: 100%;
// }
