/* bootstrap modal overrides */

.modal {
  top: 20vh;
}
.modal-backdrop {
  z-index: 100;
}
.modal-header {
  border-bottom: none;
}
.modal-content {
  padding: 20px;
  border-radius: 0;
}
.modal-body {
  text-transform: uppercase;
  li {
    padding-bottom: 5px;
    cursor: grab;
  }
}
.modal-title {
  text-transform: uppercase;
}
.close {
  opacity: 1;
  &:hover {
    cursor: grab;
  }
}
