.nav {
  height: 60px;
  width: 100%;
  background-color: #333333;
  @include media-breakpoint-up(sm) {
    height: 100px;
  }
  .navbar-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include media-breakpoint-up(sm) {
      max-width: 540px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    @include media-breakpoint-up(md) {
        max-width: 720px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 960px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 1140px;
    }
    .logo-container {
      width: 60px;
      display: flex;
      justify-content: center;
      img {
        height: 50px;
        @include media-breakpoint-up(sm) {
          height: 80px;
        }
      }
    }
    .right-nav {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 60px);
      @include media-breakpoint-up(sm) {
        width: auto;
        margin-left: auto;
      }
    }
    .request {
      height: 60px;
      width: calc(100% - 60px);
      &:hover {
        cursor: pointer;
      }
      @include media-breakpoint-up(sm) {
        height: auto;
      }
    }
    .lang-container {
      height: 60px;
      width: 60px;
      background: #515053;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
      @include media-breakpoint-up(sm) {
        height: 36px;
        width: 36px;
      }
      .btn-lang {
        color: white;
        font-weight: 300;
        background: #515053;
        border:none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .btn-brand {
      background: #e0b401;
      border: none;
      height: 100%;
      width: 100%;
      @include media-breakpoint-up(sm) {
        margin-right: 20px;
        width: 155px;
        height: 36px;
      }
      a {
        color:white;
        font-weight: 300;
      }
    }
  }
}
