.nav {
  height: 60px;
  width: 100%;
  background-color: rgba($black, 0.8);

  @include media-breakpoint-up(sm) {
    height: 100px;
  }
  .navbar-inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include media-breakpoint-up(sm) {
      max-width: 540px;
      padding-right: 35px;
      padding-left: 35px;
      margin-right: auto;
      margin-left: auto;
    }
    @include media-breakpoint-up(md) {
        max-width: 768px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 100%;
    }
    @include media-breakpoint-up(xl) {
        max-width: 1540px;
    }
    .logo-container {
      width: 60px;
      display: flex;
      justify-content: center;
      img {
        height: 50px;
        @include media-breakpoint-up(sm) {
          height: 80px;
        }
      }
    }
    .right-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: 100%;
        margin-left: 40px;
      }
    }
    .request {
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        cursor: grab;
      }
      a.btn {
        color: $white;
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &:active {
          outline: none;
        }
      }
      @include media-breakpoint-up(sm) {
        height: auto;
        width: auto;
      }
    }
    .lang-container {
      height: 60px;
      width: 60px;
      background: #515053;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
      @include media-breakpoint-up(sm) {
        height: 36px;
        width: 36px;
      }
      .btn-lang {
        color: white;
        font-weight: 300;
        background: #515053;
        border:none;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .btn-brand {
      background: $lambo-yellow;
      border: none;
      height: 100%;
      width: 100%;
      cursor: pointer;
      color: white;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      &:hover {
        background: #cca300;
        cursor: pointer;
      }
      @include media-breakpoint-up(sm) {
        width: auto;
        height: 36px;
        padding: 0 20px;
      }

    }
  }
}

.small a {
  font-size: 13px;
}
