
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-weibo:before { content: '\f18a'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */